@model IEnumerable<ClassActivity.Models.NewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MyList/Create.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NewModelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.NewModelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NewModelId })
        </td>
    </tr>
}

</table>
